USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 4/25/2021 3:06:27 PM ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BookStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BookStore_log.ldf' , SIZE = 532480KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/25/2021 3:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id_Customer] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[UserName] [nchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Access] [bit] NULL,
	[FavoriteCategory] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id_Customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 4/25/2021 3:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Id_Author] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[Id_Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 4/25/2021 3:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id_Book] [nvarchar](50) NOT NULL,
	[Price] [int] NULL,
	[Title] [nvarchar](300) NULL,
	[Id_Author] [nvarchar](50) NULL,
	[Id_Publisher] [nvarchar](50) NULL,
	[Images] [nvarchar](300) NULL,
	[Preview] [nvarchar](50) NULL,
	[Description] [nvarchar](400) NULL,
	[Condition] [bit] NULL,
	[Quantity] [int] NULL,
	[Id_Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/25/2021 3:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id_Category] [nvarchar](50) NOT NULL,
	[NameCatelogy] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 4/25/2021 3:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[id_Discount] [nvarchar](50) NOT NULL,
	[id_Book] [nvarchar](50) NOT NULL,
	[DiscountDetail] [nvarchar](150) NOT NULL,
	[StaDate] [datetime] NULL,
	[ExpDate] [datetime] NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[id_Discount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/25/2021 3:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id_Order] [nvarchar](50) NOT NULL,
	[Id_Customer] [nvarchar](50) NOT NULL,
	[Note] [text] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[Paymethod] [nvarchar](100) NULL,
	[ExpDeliveryDate] [datetime] NULL,
	[Totalbill] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 4/25/2021 3:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id_Book] [nvarchar](50) NOT NULL,
	[id_Order] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 4/25/2021 3:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[Id_Publisher] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[Id_Publisher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Author] ([Id_Author], [Name], [Description]) VALUES (N'0', N'NULL', NULL)
INSERT [dbo].[Author] ([Id_Author], [Name], [Description]) VALUES (N'1003', N'Dan Ariely', NULL)
INSERT [dbo].[Author] ([Id_Author], [Name], [Description]) VALUES (N'10226', N'Howard Jacobson', NULL)
GO
INSERT [dbo].[Book] ([Id_Book], [Price], [Title], [Id_Author], [Id_Publisher], [Images], [Preview], [Description], [Condition], [Quantity], [Id_Category]) VALUES (N'10005245', 122200, N'Đàn Ông Sao Hỏa Đàn Bà Sao Kim', N'186821', N'19413', N'https://salt.tikicdn.com/cache/280x280/ts/product/0a/f6/38/bc10734989977da424642a1c4750eee2.jpg', NULL, N'Ngày xửa ngày xưa, những người sao Hỏa và sao Kim đã gặp gỡ, yêu nhau và sống hạnh phúc bởi họ tôn trọng và chấp nhận mọi điều khác biệt. Rồi họ đến Trái Đất và chứng lãng quên đã xảy ra: Họ quên...', 1, 100, N'5')
INSERT [dbo].[Book] ([Id_Book], [Price], [Title], [Id_Author], [Id_Publisher], [Images], [Preview], [Description], [Condition], [Quantity], [Id_Category]) VALUES (N'1005148', 53500, N'Tony Buổi Sáng - Trên Đường Băng (Tái Bản 2017)', N'1177', N'25207', N'https://salt.tikicdn.com/cache/280x280/ts/product/61/87/8a/082a07cec3232115e2b22636fd71593c.jpg', NULL, N'Tony Buổi Sáng - Trên Đường Băng (Tái Bản 2017) 
"Khi còn trẻ, hãy ra ngoài nhiều hơn ở nhà. Hãy nhào vô xin người khác “bóc hết, lột sạch” khả năng của mình. Chỉ sợ bất     tài nộp hồ sơ “xin...', 1, 100, N'5')
INSERT [dbo].[Book] ([Id_Book], [Price], [Title], [Id_Author], [Id_Publisher], [Images], [Preview], [Description], [Condition], [Quantity], [Id_Category]) VALUES (N'1007137', 46800, N'Tự Học 2000 Từ Vựng Tiếng Anh Theo Chủ Đề', N'848067', N'21390', N'https://salt.tikicdn.com/cache/280x280/ts/product/d5/53/0e/fc00028419754638dd5b250abbcb0de7.jpg', NULL, N'Tự Học 2000 Từ Vựng Tiếng Anh Theo Chủ Đề
Nghe nói đọc viết là 4 kĩ năng quan trọng để có thể học và sử dụng tốt tiếng Anh - ngôn ngữ toàn cầu. Tuy nhiên không phải ai cũng có thể thành thạo những kĩ...', 1, 100, N'13')
GO
INSERT [dbo].[Category] ([Id_Category], [NameCatelogy], [Description]) VALUES (N'1', N'Công nghệ thông tin', N'Chu De CNTT')
INSERT [dbo].[Category] ([Id_Category], [NameCatelogy], [Description]) VALUES (N'10', N'Văn Học', N'TieuThuyet&Tho')
INSERT [dbo].[Category] ([Id_Category], [NameCatelogy], [Description]) VALUES (N'11', N'Tôn Giáo', N'TonGiao')
GO
INSERT [dbo].[Publisher] ([Id_Publisher], [Name], [Description]) VALUES (N'10262', N'Huy Hoàng Bookstore', NULL)
INSERT [dbo].[Publisher] ([Id_Publisher], [Name], [Description]) VALUES (N'12024', N'Trí Việt', NULL)
INSERT [dbo].[Publisher] ([Id_Publisher], [Name], [Description]) VALUES (N'13286', N'NXB Tổng Hợp', NULL)
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([Id_Author])
REFERENCES [dbo].[Author] ([Id_Author])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([Id_Category])
REFERENCES [dbo].[Category] ([Id_Category])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([Id_Publisher])
REFERENCES [dbo].[Publisher] ([Id_Publisher])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Book] FOREIGN KEY([id_Book])
REFERENCES [dbo].[Book] ([Id_Book])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_Book]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([Id_Customer])
REFERENCES [dbo].[Account] ([Id_Customer])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Book] FOREIGN KEY([id_Book])
REFERENCES [dbo].[Book] ([Id_Book])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Book]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([id_Order])
REFERENCES [dbo].[Order] ([Id_Order])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
USE [master]
GO
