USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 5/5/2021 12:34:49 PM ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BookStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BookStore_log.ldf' , SIZE = 532480KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/5/2021 12:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id_Customer] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[UserName] [nchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Access] [bit] NULL,
	[FavoriteCategory] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id_Customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 5/5/2021 12:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Id_Author] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[Id_Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 5/5/2021 12:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id_Book] [nvarchar](50) NOT NULL,
	[Price] [int] NULL,
	[Title] [nvarchar](300) NULL,
	[Id_Author] [nvarchar](50) NULL,
	[Id_Publisher] [nvarchar](50) NULL,
	[Images] [nvarchar](300) NULL,
	[Preview] [nvarchar](50) NULL,
	[Description] [nvarchar](400) NULL,
	[Condition] [bit] NULL,
	[Quantity] [int] NULL,
	[Id_Category] [nvarchar](50) NULL,
	[CountView] [int] NULL,
	[DateExpUpdate] [date] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/5/2021 12:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id_Category] [nvarchar](50) NOT NULL,
	[NameCatelogy] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 5/5/2021 12:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[id_Discount] [nvarchar](50) NOT NULL,
	[id_Book] [nvarchar](50) NOT NULL,
	[DiscountDetail] [nvarchar](150) NOT NULL,
	[StaDate] [datetime] NULL,
	[ExpDate] [datetime] NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[id_Discount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/5/2021 12:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id_Order] [int] IDENTITY(1,1) NOT NULL,
	[Id_Customer] [int] NOT NULL,
	[Note] [text] NULL,
	[OrderDate] [datetime] NOT NULL,
	[DeliveryDate] [datetime] NULL,
	[Paymethod] [nvarchar](100) NULL,
	[ExpDeliveryDate] [datetime] NULL,
	[Totalbill] [int] NULL,
	[Status] [bit] NULL,
	[AddressShipping] [nvarchar](200) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/5/2021 12:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id_Book] [nvarchar](50) NOT NULL,
	[id_Order] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 5/5/2021 12:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[Id_Publisher] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[Id_Publisher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id_Customer], [Name], [Phone], [Address], [Gender], [Email], [UserName], [DateOfBirth], [Password], [Access], [FavoriteCategory]) VALUES (1, N'Nghia', N'0935237732', N'K27/1 Hoang Hoa Tham', 1, N'kobikiu810@gmail.com', N'HelloDD                                                                                             ', CAST(N'2001-08-10T00:00:00.000' AS DateTime), N'111', 1, N'Yhoc')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Author] ([Id_Author], [Name], [Description]) VALUES (N'0', N'NULL', NULL)
INSERT [dbo].[Author] ([Id_Author], [Name], [Description]) VALUES (N'1003', N'Dan Ariely', NULL)
INSERT [dbo].[Author] ([Id_Author], [Name], [Description]) VALUES (N'10226', N'Howard Jacobson', NULL)
GO
INSERT [dbo].[Category] ([Id_Category], [NameCatelogy], [Description]) VALUES (N'1', N'Công nghệ thông tin', N'Chu De CNTT')
INSERT [dbo].[Category] ([Id_Category], [NameCatelogy], [Description]) VALUES (N'10', N'Văn Học', N'TieuThuyet&Tho')
INSERT [dbo].[Category] ([Id_Category], [NameCatelogy], [Description]) VALUES (N'11', N'Tôn Giáo', N'TonGiao')
GO
INSERT [dbo].[Discount] ([id_Discount], [id_Book], [DiscountDetail], [StaDate], [ExpDate]) VALUES (N'1', N'10005245', N'5', NULL, NULL)
INSERT [dbo].[Discount] ([id_Discount], [id_Book], [DiscountDetail], [StaDate], [ExpDate]) VALUES (N'2', N'1005148', N'10', NULL, NULL)
GO
INSERT [dbo].[Publisher] ([Id_Publisher], [Name], [Description]) VALUES (N'10262', N'Huy Hoàng Bookstore', NULL)
INSERT [dbo].[Publisher] ([Id_Publisher], [Name], [Description]) VALUES (N'12024', N'Trí Việt', NULL)
INSERT [dbo].[Publisher] ([Id_Publisher], [Name], [Description]) VALUES (N'13286', N'NXB Tổng Hợp', NULL)
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([Id_Author])
REFERENCES [dbo].[Author] ([Id_Author])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([Id_Category])
REFERENCES [dbo].[Category] ([Id_Category])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([Id_Publisher])
REFERENCES [dbo].[Publisher] ([Id_Publisher])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Book] FOREIGN KEY([id_Book])
REFERENCES [dbo].[Book] ([Id_Book])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_Book]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([Id_Customer])
REFERENCES [dbo].[Account] ([Id_Customer])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Book] FOREIGN KEY([id_Book])
REFERENCES [dbo].[Book] ([Id_Book])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Book]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([id_Order])
REFERENCES [dbo].[Order] ([Id_Order])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
USE [master]
GO
