
@{
    Layout = null;
}

<h2>Forgot Password</h2>

@using (Html.BeginForm())
{
    <div class="form-horizotal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Email </label>
        @Html.TextBox("Email", "", new { @class = "form--control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-success" />
            <a href="@Url.Action("Index", "Login")">Back to Login</a>
        </div>
    </div>

}
